APP_NAME=FlightDeck APIs
APP_VERSION=1.0.0
API_PREFIX=/api
API_VERSION_PREFIX=/api/v1
ALLOWED_ORIGINS=*

PGHOST=your-db-host
PGUSER=your-db-user
PGPORT=5432
PGDATABASE=your-db-name
PGPASSWORD=replace-me
PGSSLMODE=require
