.ps-pct-0 { width: 0%; }
.ps-pct-1 { width: 1%; }
.ps-pct-2 { width: 2%; }
.ps-pct-3 { width: 3%; }
.ps-pct-4 { width: 4%; }
.ps-pct-5 { width: 5%; }
.ps-pct-6 { width: 6%; }
.ps-pct-7 { width: 7%; }
.ps-pct-8 { width: 8%; }
.ps-pct-9 { width: 9%; }
.ps-pct-10 { width: 10%; }
.ps-pct-11 { width: 11%; }
.ps-pct-12 { width: 12%; }
.ps-pct-13 { width: 13%; }
.ps-pct-14 { width: 14%; }
.ps-pct-15 { width: 15%; }
.ps-pct-16 { width: 16%; }
.ps-pct-17 { width: 17%; }
.ps-pct-18 { width: 18%; }
.ps-pct-19 { width: 19%; }
.ps-pct-20 { width: 20%; }
.ps-pct-21 { width: 21%; }
.ps-pct-22 { width: 22%; }
.ps-pct-23 { width: 23%; }
.ps-pct-24 { width: 24%; }
.ps-pct-25 { width: 25%; }
.ps-pct-26 { width: 26%; }
.ps-pct-27 { width: 27%; }
.ps-pct-28 { width: 28%; }
.ps-pct-29 { width: 29%; }
.ps-pct-30 { width: 30%; }
.ps-pct-31 { width: 31%; }
.ps-pct-32 { width: 32%; }
.ps-pct-33 { width: 33%; }
.ps-pct-34 { width: 34%; }
.ps-pct-35 { width: 35%; }
.ps-pct-36 { width: 36%; }
.ps-pct-37 { width: 37%; }
.ps-pct-38 { width: 38%; }
.ps-pct-39 { width: 39%; }
.ps-pct-40 { width: 40%; }
.ps-pct-41 { width: 41%; }
.ps-pct-42 { width: 42%; }
.ps-pct-43 { width: 43%; }
.ps-pct-44 { width: 44%; }
.ps-pct-45 { width: 45%; }
.ps-pct-46 { width: 46%; }
.ps-pct-47 { width: 47%; }
.ps-pct-48 { width: 48%; }
.ps-pct-49 { width: 49%; }
.ps-pct-50 { width: 50%; }
.ps-pct-51 { width: 51%; }
.ps-pct-52 { width: 52%; }
.ps-pct-53 { width: 53%; }
.ps-pct-54 { width: 54%; }
.ps-pct-55 { width: 55%; }
.ps-pct-56 { width: 56%; }
.ps-pct-57 { width: 57%; }
.ps-pct-58 { width: 58%; }
.ps-pct-59 { width: 59%; }
.ps-pct-60 { width: 60%; }
.ps-pct-61 { width: 61%; }
.ps-pct-62 { width: 62%; }
.ps-pct-63 { width: 63%; }
.ps-pct-64 { width: 64%; }
.ps-pct-65 { width: 65%; }
.ps-pct-66 { width: 66%; }
.ps-pct-67 { width: 67%; }
.ps-pct-68 { width: 68%; }
.ps-pct-69 { width: 69%; }
.ps-pct-70 { width: 70%; }
.ps-pct-71 { width: 71%; }
.ps-pct-72 { width: 72%; }
.ps-pct-73 { width: 73%; }
.ps-pct-74 { width: 74%; }
.ps-pct-75 { width: 75%; }
.ps-pct-76 { width: 76%; }
.ps-pct-77 { width: 77%; }
.ps-pct-78 { width: 78%; }
.ps-pct-79 { width: 79%; }
.ps-pct-80 { width: 80%; }
.ps-pct-81 { width: 81%; }
.ps-pct-82 { width: 82%; }
.ps-pct-83 { width: 83%; }
.ps-pct-84 { width: 84%; }
.ps-pct-85 { width: 85%; }
.ps-pct-86 { width: 86%; }
.ps-pct-87 { width: 87%; }
.ps-pct-88 { width: 88%; }
.ps-pct-89 { width: 89%; }
.ps-pct-90 { width: 90%; }
.ps-pct-91 { width: 91%; }
.ps-pct-92 { width: 92%; }
.ps-pct-93 { width: 93%; }
.ps-pct-94 { width: 94%; }
.ps-pct-95 { width: 95%; }
.ps-pct-96 { width: 96%; }
.ps-pct-97 { width: 97%; }
.ps-pct-98 { width: 98%; }
.ps-pct-99 { width: 99%; }
.ps-pct-100 { width: 100%; }
